.Channel {
    color: var(--normal-text-color);
    // padding-left: 1.5rem;

    label {
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        // width: 100%;
        column-gap: 10px;
        padding: 0.25rem;
        cursor: pointer;
        input[type=radio] {
            display: none;
        }

        &:hover {
            background-color: var(--bg3);
        }

        &:has(> input[type=radio]:checked) {
            background-color: var(--bg3);
        }
    }
}