.markdown_renderer {
    pre {
        background-color: var(--code-bg);
        padding: 10px;
        // width: fit-content;
    }

    .code-number {
        color: var(--code-numeric);
    }

    .code-keyword {
        color: var(--code-keyword);
    }

    .code-string {
        color: var(--code-string);
    }

    .code-title {
        color: var(--code-title);
    }

    .code-comment {
        color: var(--code-comment);
    }

    .code-built_in {
        color: var(-code-builtin);
    }

    .code-type {
        color: var(--code-type);
    }

    h1 {
        color: var(--chat-h1);
        margin: 0;
        padding: 0;
    }
    h2 {
        color: var(--chat-h2);
        margin: 0;
        padding: 0;
    }
    h3 {
        color: var(--chat-h3);
        margin: 0;
        padding: 0;
    }
    a {
        color: var(--chat-a);
        text-decoration: none;
        &:visited { 
            color: var(--chat-a-visited) !important;
        }
        &:hover {
            color: var(--chat-a-hover) !important;
        }
        &:active {
            color: var(--chat-a-active) !important;
        }
    }

    blockquote {
        position: relative;
        background-color: var(--bg2);
        margin: 0;
        &:after {
            position: absolute;
            content: ' ';
            width: 5px;
            height: 100%;
            top: 0%;
            right: 100%;
            background-color: rgba($color: #ff0000, $alpha: 0.5);
        }
        p {
            padding: 1rem;
            margin: 0;
        }
    }
}