$layer0-dark-bg: #202225;
$layer1-dark-bg: #2f3136;
$layer2-dark-bg: #36393f;
$normal-text-color-dark: white;
$theme-dark-1: blue;
$theme-dark-2: red;

$code-dark-bg: #202225;
$code-dark-numeric: #00ffff;
$code-dark-string: #ff9999;
$code-dark-keyword: #ffaaff;
$code-dark-builtin: #aaaaff;
$code-dark-type: Orange;
$code-dark-comment: #88ff88;
$code-dark-title: #ffffaa;

$chat-a-dark: Red;
$chat-a-hover-dark: Purple;
$chat-a-active-dark: Orange;
$chat-a-visited-dark: Cyan;

$chat-h1-dark: white;
$chat-h2-dark: white;
$chat-h3-dark: white;
